@model IEnumerable<CW_17325_EmployeeApp.Web.Models.ModeOfEmployment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"> <span class="btn btn-dark"> Create New </span> </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ModeOfEmploymentId"> <span class="btn btn-danger"> Edit </span> </a>
                <a asp-action="Details" asp-route-id="@item.ModeOfEmploymentId"> <span class="btn btn-secondary"> Details </span></a>
                <a asp-action="Delete" asp-route-id="@item.ModeOfEmploymentId"> <span class="btn btn-primary"> Delete </span></a>
            </td>
        </tr>
}
    </tbody>
</table>
